# Bỏ qua rác Frontend
**/node_modules/
**/dist/
.env

# Bỏ qua rác Backend
**/__pycache__/
**/venv/
**/env/
*.pyc

# Bỏ qua TẤT CẢ các file dữ liệu khổng lồ
**/*.csv
# Bỏ qua dữ liệu gốc quá nặng (Tránh lỗi giới hạn 100MB của GitHub)
backend/ai_training/data.csv

BE/career_model.pkl